<h1>Articles</h1>

<a href="/admin/article/create">Create New Article</a>

<ul>
  {{#each articles}}
    <article>
      <a href="/admin/article/{{this.slug}}">{{this.name}}</a>
      <form action="/admin/article/delete/{{this.id}}" method="POST" style="display:inline">
        <button type="submit">Delete</button>
      </form>
      <a href="/admin/article/update/{{this.id}}">Edit</a>
    </article> 
  {{/each}}
</ul>



