<h1>Articles</h1>

<a style="text-decoration: none;" class="btn-primary" href="/admin/article/create">Create New Article</a>

<ul>
  {{#each articles}}
    <article>
      <a href="/admin/article/{{this.slug}}">{{this.name}}</a>
      <form action="/admin/article/delete/{{this.id}}" method="POST" style="display: inline;">
        <button type="submit">Delete</button>
      </form>
      <a style="display: inline; text-decoration: none;" class="btn-primary" href="/admin/article/edit/{{this.id}}">Edit</a>
    </article> 
  {{/each}}
</ul>



