{{#article}}
    <h1>{{name}}</h1>
    <p>Published {{published}}</p>
    <p><img src="/images/{{image}}" alt=""></p>
    {{{body}}}
    <hr>
    <br>
    <a href="/">Back to Articles</a>
{{/article}}